$color-orange: #ffa500;
$color-darker-orange: #e67a00;
$color-brown: #790808;
$color-lightgrey: #d7c8a8;
$color-grey: #505558;
$color-lightbrown: #f7e4bc;
$color-whitesmoke: #f5f5f5;
$color-white: #fff;
$color-black: #000;