.bg-languages {
    background-color: $color-brown;
    position: absolute;
    /* left: calc(100% - 160px); */
    padding: 0.625rem;
    border-left: 0.125rem solid $color-lightbrown;
    border-right: 0.125rem solid $color-lightbrown;
    border-bottom: 0.125rem solid $color-lightbrown; 
    border-radius: 1.875rem;
    transform: translate3d(-1.25rem, 2.1875rem, 0rem) !important;
}

.language-image {
    width: 38px;
    height: 38px;
}

.no-bullet {
    list-style-type: none;
    margin: 0rem;
    margin-left: .9375rem;
    padding: 0rem;
    position: fixed;
    z-index: 17;
    left: calc(100% - 10rem);
    top: .625rem;
}

a#language-button:hover {
    text-decoration: none;
}