.text-container {
    height: fit-content;
    background-color: $color-whitesmoke;
    color: $color-black;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3.875rem;
    padding-bottom: 4rem;
}