body, html {
    height: 100%;
    margin: 0px;
}

.navbar-sized-div {
    width: 100%;
    height: 56px;
}

h1 {
    font-size: 20px;
    margin-bottom: 0px;
    color:orange;
}

.nav-link::before {
    content: "  | ";
}

.hideBefore::before {
    content:"";
}

img {
    height: 100%;
}

#navbar {
    position: fixed;
    z-index: 16;
    width: 100%;
    margin: 0px;
    /* display: flex;
    justify-content: space-between; */
    text-align: justify;
    vertical-align: middle;
}

.bg-navbar {
    background-color: #790808;
}

/* Two styles for waypoint mechanism to work in JQuery */
.white-highlighting {
    color: orange !important;
}

.grey-highlighting {
    color: #d7c8a8;
}

#bg-languages {
    background-color: #790808;
    position: absolute;
    left: calc(100% - 160px);
    padding: 10px;
    border-left: 2px solid #f7e4bc;
    border-right: 2px solid #f7e4bc;
    border-bottom: 2px solid #f7e4bc; 
    border-radius: 30px;
}

.navbar .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=f7e4bc');
}


/* Content starts here */

.carousel-caption {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 32px;
    font-style: italic;
}

.carousel-indicators li {
    background-color: #000;
}

.carousel-indicators li.active {
    background-color: #790808;
}


.cover-container {
    padding: 0px;
    margin: 0px;
    top: 56px;
    height: calc(100% - 56px);
    width: 100%;
}

.coach-photo {
    padding: 10px;
    border-radius: 5px;
}

.coach-name {
    font-size: 22px;
}

.container > hr {
border-width: 3px;
}

.top-space {
    margin-top: 20px;
}

form {
    display: block;
    margin: auto;
}

.parallax {
    /* The image used */
    background-image: url('pictures/1200px-Lanchid_Budapest.jpg');

    /* greyscale */
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    
    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-style {
    height: fit-content;
    background-color: whitesmoke;
    font-size:16px;
    color: black;
    padding: 50px;
    padding-top: 62px;
}

.item {
    margin: 0px;
}

h2 {
    text-align: center;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%; 
        max-height: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .container {
        max-width: 100%; 
        max-height: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
        max-width: 100%; 
        max-height: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        max-width: 100%; 
        max-height: 100%;        
    }
  }

  .make-this-cover, #carouselExampleIndicators, .container, .carousel-inner, .carousel-item, img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
  }

  .carousel-inner > .carousel-item {
    -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}

/* image gallery css at survival kits*/

.survivalKits > img {
    opacity: 0.8; 
    cursor: pointer; 
}

.survivalKits img:hover {
    opacity: 1;
}

/* The expanding image container starts here !!! positioning is necessary to have the close button and the text positioned */
.expanding-image-container {
    position: relative;
    background-color: whitesmoke;
    border: solid grey 1px;
    padding: 15px;
    margin: auto;
    display: none;
    animation-name: zoom;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: black;
    font-size: 15px;
    font-weight: bold;
}

/* Closable button inside the image */
.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    color:black;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}

.contact-paragraph {
    text-align: center;
}
.card {
    margin-top: 10px;
}
 
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
} 

/* download button */
.glyph-icon {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
}

.glyph-container {
    display: flex;
    justify-content: center;
}

/* phone icon */
.glyph-icon2 {
    width: 24px;
    height: 16px;
    margin-right: 5px;
    display: inline-block;
}
/* house/home icon */
.glyph-icon3 {
    width: 18px;
    height: 20px;
    margin: auto;
    position: relative;
    display: inline-block;
}

/* language selection */

.language-image {
    width: 38px;
    height: 38px;
}

.no-bullet {
    list-style-type: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    position: fixed;
    z-index: 17;
    left: calc(100% - 160px);
    top: 10px;
}

.dropdown-toggle::after {
    vertical-align: 0px;
}

a#language-button:hover {
    text-decoration: none;
}

#coaches a:link {
    /* color: rgb(37, 37, 37);
    background-color: #e25503; */
    color:#f7e4bc;
    background-color: #790808 ;
    border-style: none;
    font-weight: bold;
}

#coaches a:hover {
    color: #790808;
    background-color:rgb(230, 122, 0) ;
    /* background-color: #ff9102; */
    text-decoration: none;
    border-style: none;
}

#navbar {
font-family: fontUbuntu;
}

@font-face {
font-family: fontUbuntu;
src:  url(fonts/Ubuntu-Medium.ttf);
}


/* contact form STARTS HERE  */

/*
#form_container
{
	padding:15px 15px;
    background: grey;	
    border-radius: 4px;
    margin: auto;
    /* margin-top:15px; } */


/*
#contactButton {
    display: block;
    margin: auto;
}

.noTopMargin {
    margin-top: 0px;
    padding-top: 0px;
}
*/

/* Here starts the image gallery of events */


.footer {
    color: #f7e4bc;
    text-align: center;
    padding: 10px;
}

/* unvisited link */
.navbar a:link, .footer a:link {
    color: #f7e4bc;
    text-decoration: none;
}

/* visited link */
.navbar a:visited, .footer a:visited {
    color: #f7e4bc;
}

/* mouse over link */ 
.navbar a:hover, .footer a:hover {
    color: white;
}

/* selected link */
.navbar a:active, .footer a:active {
    color: white;
}

/* black colored links */
div p a:link {
    color: black;
}

/* visited link */
div p a:visited {
    color:black;
    text-decoration: none;
}

/* mouse over link */
div p a:hover {
    color: #505558;
    text-decoration: none;
}

/* selected link */
div p a:active {
    color: #505558;
    text-decoration: none;
}