body, html {
    height: 100%;
    margin: 0px;
}

div ul li a::before {
    content: "  | ";
}

img {
    height: 100%;
}
.navbar {
    position: fixed;
    z-index: 16;
    width: 100%;
    margin: 0px;
    
}

.bg-navbar {
    background-color: #fc6816;
}

.container {
    padding: 0px;
    padding-top: 56px;
    margin: 0px;
    height: 100%;
    width: 100%;
    /* background-size: cover; */
}

form {
    display: block;
    margin: auto;
}

.parallax {
    /* The image used */
    background-image: url('pictures/1200px-Lanchid_Budapest.jpg');

    /* Full height */
    height: 50%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.div-style {
    height: fit-content;
    background-color: whitesmoke;
    font-size:16px;
    color: #2C2E35;
    padding: 50px;
    padding-top: 62px;
}

.item {
    margin: 0px;
}

h1 {
    text-align: center;
}

@media (min-width: 576px) {
    .container {
        max-width: 100%; 
        max-height: 100%;
    }
  }
  
  @media (min-width: 768px) {
    .container {
        max-width: 100%; 
        max-height: 100%;
    }
  }
  
  @media (min-width: 992px) {
    .container {
        max-width: 100%; 
        max-height: 100%;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
        max-width: 100%; 
        max-height: 100%;        
    }
  }

  #makeThisCover, #carouselExampleIndicators, .container, .carousel-inner, .carousel-item, img {
      object-fit: cover;
      object-position: 50% 50%;
      width: 100%;
      height: 100%;
  }

  .carousel-inner > .carousel-item {
      -webkit-transition-duration: 1.5s;
    -moz-transition-duration: 1.5s;
    -o-transition-duration: 1.5s;
    transition-duration: 1.5s;
}