.download-icon {
    width: 1.75rem;
    height: 1.75rem;
    position: relative;
    display: inline-block;
    border-radius: 50%;
}

.phone-icon {
    width: 25px;
    height: 25px;
    position: relative;
    display: inline-block;
}

.email-icon {
    width: 24px;
    height: 16px;
    margin-right: 0.3125rem;
    display: inline-block;
}

.home-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin: auto;
    position: relative;
    display: inline-block;
    transform: translateY(-2px);
}