.parallax-background {
    background-image: url("../pictures/1200px-Lanchid_Budapest.jpg");
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
    height: 50%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.list_padding-left {
    padding-left: 2rem;
}

.topspace-small {
    margin-top: 1.25rem;
}

.quote {
    padding: 1.875rem;
    color: $color-darker-orange;
    font-weight: bold;
    font-style: italic;
}

.small-rule {
    border-width: 2px;
}

.survival_kit__img {
    opacity: 0.8; 
    cursor: pointer; 

    &:hover {
        opacity: 1;
    }
}

.dropdown-toggle::after {
    vertical-align: 0rem;
}

.contact-paragraph {
    text-align: center;
}

#navbarMenuButton:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    & :first-child {
    box-shadow:  0rem 0rem 2rem $color-white;
    }
}

.navbar a:link, .footer a:link, #language-button-li a {
    color: $color-lightbrown;
    text-decoration: none;
}

.navbar a:visited, .footer a:visited, #language-button-li a {
    color: $color-lightbrown;
}

.navbar a:hover, .footer a:hover, #language-button-li a {
    color: $color-white;
}

.navbar a:active, .footer a:active, #language-button-li a {
    color: $color-white;
}